#header {
  
  background-image: url('../imagen/banner_rio_olimpiadas.jpg');
  width: auto;
  height: 700px;
  background-size:contain;
  background-repeat: no-repeat;
 
}


/*---------------------------------------------------------------------------------------------------------------------------*/

#botonModal{
  
  display: flex;
  width: 17%;
  padding: 15px;
  background-color: whitesmoke;
  
  color: black;
  border-radius: 25px;
  transition-duration: 0.4s;
  cursor: pointer;   
  justify-content: center;
  margin-top: 500px;
  margin-right:8%;
  float: right;

}

#botonModal:hover {
  background-color:rgb(20, 72, 133);
  color: white;
}    


/* base del modal */
.modal {
  display: none; /* oculto */
  position: fixed; /* posicion fija */
  z-index: 10; /* ubicar sobre todo */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); /*opacidad de fondo*/
}

/* contenido de modal*/
.modal-contenido {
  background-color: #fefefe;
  margin: 10% auto; /* margen ubicacion */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
}

#textoModal{
  padding: 3%;
  line-height: 40px;
  text-align: justify;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
}

/* X boton de cerrar */
.cerrarModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

/* efecto de X boton de cerrar */
.cerrarModal:hover,
.cerrarModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------------*/

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(250, 249, 249);
}

h2{
  color: rgb(20, 72, 133);
}


.barranav {
display: flex;
justify-content: center;
}

button {
  width: 10%; 
  font-size: 16px; 
  padding: 12px; 
  margin-bottom: 12px; 
  margin-right: 2%;
}


select {
  width: 10%; 
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; /* color y ancho de borde */
  margin-bottom: 12px; 
  margin-right: 2%;
  z-index: 9; /*posicion en relacion a elemtos de pagina*/
}

#root{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}
.card{
  display: flex;
  width: 300px;
  height: 300px;
  margin-left: 36px;
  margin-right: 36px;
  background-color: rgb(159, 186, 216);
  padding: 5px;
  margin: 27px;
  border-radius: 5px;
  /*float: left;
  top: 50%;
  left: 50%;
  perspective: 500px;*/
}

.content {
  /* position: absolute;*/
  width: 100%;
  height: 30%; 
  padding: 10%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  margin-top: 10%;
}


.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}
p{
  margin-top: -20px;
}
.front,
.back {
  
  color: #faf4f4;
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  border-radius: 5px;
  backface-visibility: hidden;
}


.back {
  width: 100%;
  background: rgb(82, 165, 96);
  color: #faf4f4;
  transform: rotateY( 180deg );
}

/*---------------------------------------------------------------------------------------------------------------------------*/